INSERT INTO EXO_USER VALUES (
  '$user.id', '$user.userName','$user.password',
  '$user.firstName', '$user.lastName', '$user.email
)

NSERT INTO EXO_USER_PROFILE VALUES (
  '$profile.userName', '$????NEED TO IMPLEMNT THIS????',
)

#foreach($membership in $memberships) 
INSERT INTO EXO_MEMBERSHIP VALUES (
   '$membership.id', '$membership.membershipType', '$membership.userName', '$membership.groupId'
)
#end
