<user-data>
  <user>
    <id>$user.id</id>
    <username>$user.userName</username>
    <password>$user.password</password>
    <first-name>$user.firstName</first-name>
    <last-name>$user.lastName</last-name> 
    <email>$user.email</email>
  <user>
  <user-profile>
    <username>$profile.userName</username>
    <profile>Need to implment the coverstion</profile>
  </user-profile>
  <memberships>
    #foreach($membership in $memberships) 
   <membership>
      <id>$membership.id</id>
      <membership-type>$membership.membershipType</membership-type>
      <username>$membership.userName</username>
      <groupId>$membership.groupId</groupId>
    </membership>
    #end
  </memberships>
</user-data>
